:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #2f2f2f;
}
.baklava-editor .background {
  background-color: transparent !important;
  background-image: none !important;
}
.baklava-toolbar, .baklava-node-palette {
  background-color: rgba(0, 0, 0, 0.9) !important;
 
}
